__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.Xil/
power_reports/
test_reports/
timing_reports/
waveform_reports/
tmp/

design_gen/
ds_exp/

directory_structure.py
directory_structure.txt
desired_structure.txt

*.code-workspace
*.v
*.ipynb
*.log
*.pdf