__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.Xil/
.vscode/
hdlopt.egg-info/

power_reports/
test_reports/
timing_reports/
waveform_reports/
tmp/

generated/*
!generated/.gitkeep

hdlopt/design_gen/
hdlopt/ds_exp/
hdlopt/benchmarking/

directory_structure.txt
desired_structure.txt
code_quality.py
parser.out
parsetab.py
full_adder_schematic.dot
tb_test.v

*.code-workspace
*.v
*.ipynb
*.log
*.pdf